//tipografia

$font-family: 'arial', 'arial black';  //es una lista

//tamaños

$font-size-base: 16px;

$font-size-titulo: convertir(140);
$font-size-parrafo: convertir(16);
$font-size-links: convertir(24px);